<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Input Demo</title>
  <link rel="stylesheet" href="http://s6.qhres.com/static/21629d94f043b139/yoyo.css">
  <style>
    body {
      font-size: 14px;
      padding: 2em;
    }
  </style>
</head>
<body>
  <div id="app">
    <form class="form "@submit="submit">
      <div class="item">
        <div class="label"></div>
        <div class="control">
          <h3>登录</h3>
        </div>
      </div>
      <div class="item">
        <div class="label">邮箱地址：</div>
        <div class="control">
          <v-input
            v-model="userName"
            placeholder="请输入邮箱地址"
            size="big"
            :rules="{
              required: true,
              type: 'email',
              minlength: 5,
              maxlength: 20
            }"
          ></v-input>
        </div>
      </div>
      <div class="item">
        <div class="label">密码：</div>
        <div class="control">
          <v-input
            v-model="password"
            placeholder="请输入密码"
            size="big"
            :rules="{
              required: true,
              minlength: 7,
              maxlength: 20
            }"
          ></v-input>
        </div>
      </div>
      <div class="item">
        <div class="label"></div>
        <div class="control">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  </div>
  <script src="https://s1.ssl.qhres.com/static/ec05c573b55b02a4.js"></script>
  <script src="/dist/index.js"></script>
  <script>
    {
      Vue.use(VTags.Input);
      const vm = new Vue({
        el: '#app',
        data: {
          userName: '',
          password: ''
        },
        methods: {
          submit: function(e) {
            e.preventDefault();
            //推荐使用v-form组件
            if (this.$children.map(child => child.validate()).every(item => item.valid)) {
              alert('提交成功');
            }
          }
        }
      });
    }
  </script>
</body>
</html>
