<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Item Demo</title>
  <link rel="stylesheet" href="http://s6.qhres.com/static/21629d94f043b139.css">
  <style>
    body {
      font-size: 14px;
      padding: 2em;
    }
    .required .label::before {
      content: '*';
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <form class="form "@submit="submit">
      <v-form-item>
        <h3>表单标题</h3>
      </v-form-item>
      <v-form-item label="邮箱地址" required="true">
        <v-input v-model="userName" placeholder="请输入邮箱地址"></v-input>
      </v-form-item>
      <v-form-item label="密码">
        <v-input v-model="userName" placeholder="请输入密码"></v-input>
      </v-form-item>
      <v-form-item>
          <button type="submit" class="btn btn-primary">提交</button>
      </v-form-item>
    </form>
  </div>
  <script src="https://s1.ssl.qhres.com/static/ec05c573b55b02a4/vue-2.0.5.js"></script>
  <script src="/dist/index.js"></script>
  <script>
    {
      Vue.use(VTags.Input);
      Vue.use(VTags.FormItem);
      const vm = new Vue({
        el: '#app',
        data: {
          userName: '',
          password: ''
        },
        methods: {
          submit: function(e) {
            e.preventDefault();
          }
        }
      });
    }
  </script>
</body>
</html>
