<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Demo</title>
  <link rel="stylesheet" href="http://s6.qhres.com/static/21629d94f043b139.css">
  <style>
    body {
      font-size: 14px;
      padding: 2em;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-form action="/abc" :get-payload="getPayload">
      <v-form-item>
        <h3>表单标题</h3>
      </v-form-item>
      <v-form-item label="邮箱地址" required="true">
        <v-input v-model="userName" placeholder="请输入邮箱地址" :rules="rules.userName"></v-input>
      </v-form-item>
      <v-form-item label="密码">
        <v-input v-model="password" placeholder="请输入密码" :rules="rules.password"></v-input>
      </v-form-item>
      <v-form-item>
          <button type="submit" class="btn btn-primary">提交</button>
      </v-form-item>
    </v-form>
  </div>
  <script src="https://s1.ssl.qhres.com/static/ec05c573b55b02a4.js"></script>
  <script src="https://lib.baomitu.com/vue-resource/1.0.3/vue-resource.min.js"></script>
  <script src="https://lib.baomitu.com/lodash.js/4.16.6/lodash.min.js"></script>
  <script src="/dist/index.js"></script>
  <script>
    {
      Vue.use(VTags.Input);
      Vue.use(VTags.FormItem);
      Vue.use(VTags.Form);
      const vm = new Vue({
        el: '#app',
        data: {
          userName: '',
          password: '',
          rules: {
            userName: {
              required: true,
              minlength: 5,
              maxlength: 20,
              type: 'email',
              msg: '请输入5-20位的邮箱哦~'
            },
            password: {
              required: true,
              minlength: 6,
              maxlength: 20,
              msg: {
                required: '密码还是要写的呀'
              }
            }
          },
          getPayload: function() {
            return _.pick(this, ['userName', 'password'])
          }
        }
      });
    }
  </script>
</body>
</html>
